$header_font_stack: fira-sans-2, Arial;

$content_font_stack: museo-sans, Arial;

$flatui_turquoise: rgb(26, 188, 156);
$flatui_greensea: rgb(22, 160, 133);
$flatui_emerald: rgb(46, 204, 113);
$flatui_nephritis: rgb(39, 174, 96);
$flatui_peterriver: rgb(52, 152, 219);
$flatui_belizehole: rgb(41, 128, 185);
$flatui_amethyst: rgb(155, 89, 182);
$flatui_wisteria: rgb(142, 68, 173);
$flatui_wetasphalt: rgb(52, 73, 94);
$flatui_midnightblue: rgb(44, 62, 80);
$flatui_sunflower: rgb(241, 196, 15);
$flatui_orange: rgb(243, 156, 18);
$flatui_carrot: rgb(230, 126, 34);
$flatui_pumpkin: rgb(211, 84, 0);
$flatui_alizarin: rgb(231, 76, 60);
$flatui_pomegranate: rgb(192, 57, 43);
$flatui_clouds: rgb(236, 240, 241);
$flatui_silver: rgb(189, 195, 199);
$flatui_concrete: rgb(149, 165, 166);
$flatui_asbestos: rgb(127, 140, 141);
