<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
  {% if user.nickname %}
    <h1>Hi, {{ user.nickname }}!</h1>
  {% else %}
    <h1> Hi, guest! Please log in.</h1>
  {% endif %}
  {% if user.nickname %}
  <form id="post_form" action="" method="post" name="post">
      {{ form.hidden_tag() }}
      {{ form.post(cols=28, rows=4, maxlength=140, placeholder="Say something...") }}
      {% for error in form.post.errors %}
        <span style="color: red;">[{{ error }}]</span><br>
      {% endfor %}
      <button class="btn_modern" onclick="document.getElementById('postform').submit()">Post!</button>
  </form>
  {% endif %}
  <div id="posts_wrapper">
  <!--Posts is a pagination object-->
  </div>
  <img id="loader" src="../static/img/loader.gif">
  <script>loadPosts('followed', 1)</script>
{% endblock %}
