<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<script type="text/javascript">randomBG()</script>
<div id="wrapper">
<div id="login_container">
  <div id="login_form">
    <h1>Welcome</h1>
    <h2>Please log in</h2>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email(size=20, placeholder="Email") }}
            {% if form.email.errors %}
            <script type="text/javascript">
              redBox(document.getElementById('email'))
            </script>
            {% for error in form.email.errors %}
                <span class="error_message">{{ error }}</span>
            {% endfor %}
            {% endif %}
            {{ form.passwd(size=20, placeholder="Password") }}
            {% if form.passwd.errors %}
            <script type="text/javascript">
              redBox(document.getElementById('passwd'))
            </script>
            {% for error in form.passwd.errors %}
                <span class="error_message">{{ error }}</span>
            {% endfor %}
            {% endif %}
        </p>
        <p>{{ form.remember_me }}<label for="remember_me">Remember Me</label></p>
        <p><button class="btn_modern" type="submit">Log in</button></p>
    </form>
  </div>
</div>
</div>
{% endblock %}
