<!-- Extends base.html -->
{% extends 'base.html' %}

{% block content %}
  <table>
    <tr valign="top">
      <td id="avatar"><img src="{{ user.avatar(200) }}"><br>
      <div id="follower_box">{{ user.followers.count()-1 }} follower{% if user.followers.count() != 2 %}s{% endif %}</div></td>
      <td>
        <h1>{{ user.nickname }}</h1>
        {% if user.about_me %}<p id="about_me">{{ user.about_me }}</p>{% endif %}
        {% if user.last_seen %}<p><i>Last seen on: {{ user.last_seen}}</i></p>{% endif %}
        <p class="footer_container">
          {% if user.id == g.user.id %}
              <a class="btn_modern" href="{{ url_for('edit') }}">Edit your profile</a>
          {% elif not g.user.is_following(user) %}
              <a class="btn_modern" href="{{ url_for('follow', nickname=user.nickname) }}">Follow</a>
          {% else %}
              <a class="btn_modern" href="{{ url_for('unfollow', nickname=user.nickname) }}">Unfollow</a>
          {% endif %}
        </p>
      </td>
    </tr>
  </table>
  <hr>
  <div id="posts_wrapper">
  <!--Posts is a pagination object-->
    {% if posts.has_prev %}<a class="btn_modern" href="{{ url_for('index', page=posts.prev_num) }}">&lt;&lt; Newer posts</a>{% endif %}
    {% for post in posts.items %}
      {% include 'post.html' %}
    {% endfor %}
    {% if posts.has_next %}<a class="btn_modern" href="{{ url_for('index', page=posts.next_num) }}">Older posts &gt;&gt;</a>{% endif %}
  </div>
{% endblock %}
