<!-- Extends base.html -->
{% extends 'base.html' %}

{% block content %}
  <table>
    <tr valign="top">
      <td id="avatar"><img src="{{ user.avatar(200) }}"><br>
      <div id="follower_box">{{ user.followers.count()-1 }} follower{% if user.followers.count() != 2 %}s{% endif %}</div></td>
      <td>
        <h1>{{ user.nickname }}</h1>
        {% if user.about_me %}<p id="about_me">{{ user.about_me }}</p>{% endif %}
        {% if user.last_seen %}<p><em>Last seen: {{ momentjs(user.last_seen).calendar() }}</em></p>{% endif %}
        <p class="footer_container">
          {% if user.id == g.user.id %}
              <a class="btn_modern" href="{{ url_for('edit') }}">Edit your profile</a>
          {% elif not g.user.is_following(user) %}
              <a class="btn_modern" href="{{ url_for('follow', nickname=user.nickname) }}">Follow</a>
          {% else %}
              <a class="btn_modern" href="{{ url_for('unfollow', nickname=user.nickname) }}">Unfollow</a>
          {% endif %}
        </p>
      </td>
    </tr>
  </table>
  <hr>
  <div id="posts_wrapper">
  <!--Posts is a pagination object-->
  </div>
  <img id="loader" src="../static/img/loader.gif">
  <script>loadPosts('{{ user.nickname }}', 1)</script>
{% endblock %}
